*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.wrapper{
    display: block;
}
.upper{
    width: 100%;
    height: 400px;
   background: rgb(84, 84, 151);
    border-radius: 0% 0% 150% 150%/0% 0% 40% 40%;
    position: absolute;
}
#ijambo{
    color:white;
    font-family: century Gothic;
    margin-left: 30px;
    margin-top: 40px;
    font-size: 40px;
}

.cat{
    background: black;
    width: 40%;
    height: 40%;
}
/* .pic{
    width: 300px;
    height: 300px;
    border-radius: 50%;
} */
.img-container{
    /* margin-bottom: 300px;
    width: 400px;
    height: 400px;
    background: grey; */
}

/* .photo{ */
    /* background-color: aqua; */
    /* border-radius: 50%;
    width: 400px;
    height: 400px;
    margin-bottom: 300px;
} */
.img-container img{
    margin-bottom: 400px; 
    margin-left: 800px;
    margin-right: 20px;
}
#amagambo{
    color: white;
    margin-left: 30%;
    font-size: 60px;
    margin-top: 20px;

}
/* #umurongo{
    text-decoration: underline;
    text-decoration-color: rgb(136, 216, 136);
    margin-left: 10px;
    font-size: 80px;
    margin-top: 20px;
} */
#btn{
    width: 150px;
    height: 50px;
    background: rgb(136, 216, 136);
    color: black;
    margin-left: 35%;
    margin-top: 150px;
}
#right{
    margin-left: 80%;
    font-size: 25px;
    color:white;
    /* text-decoration: underline; */
    /* text-decoration-color:rgb(136, 216, 136) ; */
    margin-top: -180px;
    /* text-underline-offset: 10px; */
}

.middle{
    width: 100%;
    height: 400px;
     /* background: rgb(163, 128, 163); */
    padding-top: 900px;
    /* display: flex; */
    display: none;
}
.one{
    width: 300px;
    height: 300px;
    /* background: pink; */
    position: absolute;
    margin-top: -300px;
    margin-left: 40px;
}
#t{
 
    font-size: 18px;
    padding-left:10px;
    padding-top: 10px;
}
.circle1{
    
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid rgb(163, 128, 163); 
        margin-left: 50px;
        margin-top:20px;   
}
.two{
    width: 300px;
    height: 300px;
    /* background:rgb(36, 32, 36); */
    position: absolute;
    margin-top: -300px;
    margin-left: 40px; 
    margin-left: 30%;  
}
#s{
    padding-top: 10px;
    font-size: 20px;
    padding-left:10px;
}
.circle2{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgb(163, 128, 163);
    margin-left: 50px;
    margin-top: 20px;

}
.three{
    width: 300px;
    height: 300px;
    /* background:rgb(36, 32, 36); */
    position: absolute;
    margin-top: -300px;
    margin-left: 800px; 
    /* margin-left: 60%;   */
}
#w{
    padding-top: 10px;
    font-size: 20px;
    padding-left:10px;
}   
.circle3{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgb(163, 128, 163);
    margin-left: 50px;
    margin-top: 20px;

}
#time{
font-size:30px;
} 
#data{
font-size: 30px;
}
#want{
font-size: 30px;

} 
.para1{
margin-left: 40px;
font-size: 20px;
margin-top: 20%;
} 
.para2{

        margin-left: 40px;
        font-size: 20px;
        margin-top: 20%;
}
.para3{
    margin-left: 40px;
    font-size: 20px;
    margin-top: 20%;
}
 .photo img{
margin-left: 20px;
border-radius: 80%;
position:relative;
margin-top:850px ;

}
.container{
margin-left:300px;
margin-top: -600px;

background-color:rebeccapurple;
width:60%;
height: 350px;
} 

.head{
margin-left: 30%;
padding-top:10px;
color: white;
font-size: 30px;

}
.object{
/* margin-left: 5%;
margin-top:10px; */
margin-left: 10%;
margin-right: 10%;
position: relative;
margin-top: -10px;
font-size: 20px;
gap: 100px;
color:white;
 /* background-color:blue ; */

}

 button{
    margin-left:10%;
    margin-bottom: 10%;
    background-color:rgb(96, 192, 96);
    font-size:100%;
    font-size: 20px;
    
} 
.java{

margin-left: 50%;
font-size: 30px;
margin-top:20px;

}
.del{
margin-left: 50%;
margin-top: 40px;

}
.natus{
    font-size:25px;
   margin-top: 40px;
}
.image{
    margin-left: 400px;
    width: 300px;
    height: 250px;
    border-radius: 50%;
    position: relative;
    margin-top:-180px;
    margin-bottom:-100px;
    /* margin-bottom: -10%;background-color: rgb(58, 131, 58); */

}
.img-container{
margin-top: 80px;
}
